﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LottoGO Admin Panel</title>
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/scss/style.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body class="bg-dark">
    @if (!string.IsNullOrEmpty(User.Identity.Name))
    {
        <text>
            <aside id="left-panel" class="left-panel">
                <nav class="navbar navbar-expand-sm navbar-default">

                    <div class="navbar-header">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="./"><img src="images/logo.png" alt="Logo"></a>
                        <a class="navbar-brand hidden" href="./"><img src="images/logo2.png" alt="Logo"></a>
                    </div>

                    <div id="main-menu" class="main-menu collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <h3 class="menu-title">Menu</h3><!-- /.menu-title -->
                            <li>
                                <a asp-action="Index" asp-controller="Users"> <i class="menu-icon fa fa-users"></i>@Localizer["Users"] </a>
                                <a asp-action="Index" asp-controller="Points"> <i class="menu-icon fa fa-street-view"></i>@Localizer["Points"] </a>
                                @*<a href="widgets.html"> <i class="menu-icon fa fa-bell"></i>@Localizer["Pushes"] </a>*@
                                <a asp-action="Index" asp-controller="Bonuses"> <i class="menu-icon fa fa-star"></i>@Localizer["Bonuses"] </a>
                            </li>
                            
                            <h3 class="menu-title">@Localizer["User"]</h3><!-- /.menu-title -->
                            <li>
                                <a asp-action="Logout" asp-controller="Account"> <i class="menu-icon fa fa-sign-in"></i>@Localizer["Logout"] </a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </aside><!-- /#left-panel -->
            <!-- Left Panel -->
            <!-- Right Panel -->
        
            <div id="right-panel" class="right-panel">

            <!-- Header-->
            <header id="header" class="header">
                <div class="header-menu">
                    <div class="col-sm-7">
                        <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    </div>
                    
                    <div class="col-sm-5">
                        <div class="user-area dropdown float-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="user-avatar rounded-circle" src="images/logoblack.png">
                            </a>
                            <div class="user-menu dropdown-menu">
                                <a class="nav-link" asp-controller="Account" asp-action="Logout"><i class="fa fa-power -off"></i>@Localizer["Logout"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header><!-- /header -->
        </text>
    }

@RenderBody()
</div>

    <!-- /#right-panel -->
    <!-- Header-->


    <script src="~/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="~/js/dashboard.js"></script>
    <script src="~/js/widgets.js"></script>
    <script src="~/js/lib/vector-map/jquery.vmap.js"></script>
    <script src="~/js/lib/vector-map/jquery.vmap.min.js"></script>
    <script src="~/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
<script src="~/js/lib/vector-map/country/jquery.vmap.world.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
