﻿@{
    ViewData["Title"] = @Localizer["Users"];
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">@Localizer["Users"]</strong>
                    </div>
                    <div class="card-body">
                    </div>

                    <div style="margin:35px;">
                        <table id="users_table" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr style="text-align: left;">
                                    <th>@Localizer["Username"]</th>
                                    <th>@Localizer["Email"]</th>
                                    <th>@Localizer["AccountBalance"]</th>
                                    <th>@Localizer["Actions"]</th>
                                </tr>
                            </thead>

                            <tfoot>
                                <tr style="text-align: left;">
                                    <th>@Localizer["Username"]</th>
                                    <th>@Localizer["Email"]</th>
                                    <th>@Localizer["AccountBalance"]</th>
                                    <th>@Localizer["Actions"]</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>


        </div>
    </div><!-- .animated -->
    
    <div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mediumModalLabel">@Localizer["Confirmation"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        @Localizer["DeleteConfirmation"]
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["No"]</button>
                    <button id="deleteConfirmation" type="button" class="btn btn-primary">@Localizer["Yes"]</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var selectedUserId;

        $(document).ready(function () {
            var table = $('#users_table').DataTable({
                "language": {
                    "lengthMenu": "Wyświetlanie _MENU_ użytkowników na stronę",
                    "zeroRecords": "Nic nie znaleziono",
                    "info": "Strona _PAGE_ na _PAGES_",
                    "infoEmpty": "Brak użytkowników",
                    "infoFiltered": "(przefiltrowano z _MAX_ wszystkich użytkowników)",
                    "processing": "Ładowanie...",
                    "search": "Szukaj:",
                    "paginate": {
                        "first": "Pierwsza",
                        "last": "Ostatnia",
                        "next": "Następna",
                        "previous": "Poprzednia"
                    }
                },
                "processing": true,
                "serverSide": true,
                "info": true,
                "stateSave": true,
                "autoWidth": false,
                "ordering": true,
                "lengthMenu": [[15, 25, 50, 100], [15, 25, 50, 100]],
                "ajax": {
                    "url": "/users/getusers",
                    "type": "GET"
                },
                "columns": [
                    {
                        "data": "username",
                        "orderable": false
                    },
                    { "data": "email", "orderable": false },
                    { "data": "accountBalance", "orderable": false },
                    { "data": "id", "orderable": false }
                ],
                "columnDefs": [{
                    render: function (data, type, full, meta) {
                        selectedUserId = data;
                        return "<div data-toggle='modal' data-target='#mediumModal'><i class='menu-icon fa fa-trash-o'></i></div>";
                    },
                    targets: 3
                }]
            });

            $('#deleteConfirmation').click(function() {
                $.ajax('/users/deleteuser/?userId=' + selectedUserId,
                    {
                        type: "DELETE",
                        dataType: 'json',
                        traditional: true,
                        contentType: 'application/json',
                        success: function() {
                            window.location.replace('/users');
                        },
                        error: function() {
                            bootbox.alert("Błąd :( Spóbuj ponownie później");
                        }
                    });
            });
        });
    </script>
}