﻿@using LottoGO.Database.Entities
@using Microsoft.AspNetCore.Identity
@model LoginViewModel
@inject SignInManager<UserEntity> SignInManager

@{
    ViewData["Title"] = @Localizer["LoginPage"];
}

<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <img class="align-content" src="@Url.Content("/images/logo.png")" alt="">
            </div>
            <div class="login-form">
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label>@Localizer["Login"]</label>
                        <input asp-for="Username" class="form-control" placeholder="@Localizer["Login"]">
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Password"]</label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="@Localizer["Password"]">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input asp-for="RememberMe" type="checkbox"> @Localizer["RememberMe"]
                        </label>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">@Localizer["SingIn"]</button>
                </form>
            </div>
        </div>
    </div>
</div>