﻿@using LottoGO.Common.Models
@model PointViewModel

@{
    ViewData["Title"] = Model == null || Model.Id == 0 ? Localizer["Add"] : Localizer["Edit"];
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">
                    @if (Model == null || Model.Id == 0)
                    {
                        @Localizer["Add"]
                    }
                    else
                    {
                        @Localizer["Edit"]
                    }
                </strong>
            </div>
            <div class="card-body">
                <div id="pay-invoice">
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <form asp-action="Add" asp-controller="Points" method="post" novalidate="novalidate">
                            <input asp-for="Id" hidden>
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">@Localizer["Name"]</label>
                                <input asp-for="Name" type="text" class="form-control" aria-required="true" aria-invalid="false">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-1">@Localizer["Longitude"]</label>
                                <input asp-for="Longitude" type="text" class="form-control" aria-required="true" aria-invalid="false">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-1">@Localizer["Latitude"]</label>
                                <input asp-for="Latitude" type="text" class="form-control" aria-required="true" aria-invalid="false">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-1">@Localizer["MarkerId"]</label>
                                <input asp-for="MarkerId" type="text" class="form-control" aria-required="true" aria-invalid="false">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-1">@Localizer["MarkersIds"]</label>
                                <input asp-for="MarkersIds" type="text" class="form-control" aria-required="true" aria-invalid="false">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-1">@Localizer["StandardPrize"]</label>
                                <input asp-for="StandardPrize" type="text" class="form-control" aria-required="true" aria-invalid="false">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-1">@Localizer["GameCost"]</label>
                                <input asp-for="GameCost" type="text" class="form-control" aria-required="true" aria-invalid="false">
                            </div>
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">@Localizer["GameType"]</label>
                                @Html.DropDownListFor(m => m.GameType, Html.GetEnumSelectList<LottoGO.AdminPanel.Models.GameType>(), new { @class = "form-control" })
                            </div>
                            <div>
                                @if (Model != null && Model.Id != 0)
                                {
                                    <button asp-action="Edit" asp-controller="Points" type="submit" class="btn btn-lg btn-info btn-block">
                                        <i class="fa fa-plus-circle"></i>&nbsp;
                                        <span id="payment-button-amount">@Localizer["EditPoint"]</span>
                                    </button>
                                }
                                else
                                {
                                    <button asp-action="Add" asp-controller="Points" type="submit" class="btn btn-lg btn-info btn-block">
                                        <i class="fa fa-plus-circle"></i>&nbsp;
                                        <span id="payment-button-amount">@Localizer["AddPoint"]</span>
                                    </button>
                                }
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>