﻿@{
    ViewData["Title"] = @Localizer["Points"];
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <a asp-action="Add" asp-controller="Points"><button type="button" style="margin-bottom: 35px; margin-left: 18px; margin-top: 25px" class="btn btn-primary "><i class="fa fa-plus-circle" style="color: #ffffff">&nbsp; @Localizer["Add"]</i></button></a>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">@Localizer["Points"]</strong>
                    </div>
                    <div class="card-body">
                    </div>
                    <div style="margin: 35px;">

                        <table id="points_table" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr style="text-align: left;">
                                    <th>@Localizer["Id"]</th>
                                    <th>@Localizer["Name"]</th>
                                    <th>@Localizer["Longitude"]</th>
                                    <th>@Localizer["Latitude"]</th>
                                    <th>@Localizer["GameType"]</th>
                                    <th>@Localizer["StandardPrize"]</th>
                                    <th>@Localizer["GameCost"]</th>
                                    <th>@Localizer["Actions"]</th>
                                </tr>
                            </thead>

                            <tfoot>
                            <tr style="text-align: left;">
                                <th>@Localizer["Id"]</th>
                                <th>@Localizer["Name"]</th>
                                <th>@Localizer["Longitude"]</th>
                                <th>@Localizer["Latitude"]</th>
                                <th>@Localizer["GameType"]</th>
                                <th>@Localizer["StandardPrize"]</th>
                                <th>@Localizer["GameCost"]</th>
                                <th>@Localizer["Actions"]</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div><!-- .animated -->
    
    <div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mediumModalLabel">@Localizer["Confirmation"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        @Localizer["DeleteConfirmation"]
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["No"]</button>
                    <button id="deleteConfirmation" type="button" class="btn btn-primary">@Localizer["Yes"]</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var selectedPointId;

        $(document).ready(function () {
            var table = $('#points_table').DataTable({
                "language": {
                    "lengthMenu": "Wyświetlanie _MENU_ punktów na stronę",
                    "zeroRecords": "Nic nie znaleziono",
                    "info": "Strona _PAGE_ na _PAGES_",
                    "infoEmpty": "Brak punktów",
                    "infoFiltered": "(przefiltrowano z _MAX_ wszystkich punktów)",
                    "processing": "Ładowanie...",
                    "search": "Szukaj:",
                    "paginate": {
                        "first": "Pierwsza",
                        "last": "Ostatnia",
                        "next": "Następna",
                        "previous": "Poprzednia"
                    }
                },
                "processing": true,
                "serverSide": true,
                "info": true,
                "stateSave": true,
                "autoWidth": false,
                "ordering": true,
                "lengthMenu": [[15, 25, 50, 100], [15, 25, 50, 100]],
                "ajax": {
                    "url": "/points/getpoints",
                    "type": "GET"
                },
                "columns": [
                    {
                        "data": "id",
                        "orderable": false
                    },
                    { "data": "name", "orderable": false },
                    { "data": "longitude", "orderable": false },
                    { "data": "latitude", "orderable": false },
                    { "data": "gameType", "orderable": false },
                    { "data": "standardPrize", "orderable": false },
                    { "data": "gameCost", "orderable": false },
                    { "data": "id", "orderable": false }
                ],
                "columnDefs": [{
                    render: function (data, type, full, meta) {
                        return "<div class='row'><div data-toggle='modal' data-target='#mediumModal'><i class='menu-icon fa fa-trash-o'></i></div><div style='margin-left: 15px'><a href='/points/edit?mapPointId=" + data + "'><i class='menu-icon fa fa-pencil'></i></a></div></div>";
                    },
                    targets: 7
                }]
            });

            $('#deleteConfirmation').click(function () {
                    $.ajax('/points/deletepoint/?mapPointId=' + selectedPointId,
                        {
                            type: "DELETE",
                            dataType: 'json',
                            traditional: true,
                            contentType: 'application/json',
                            success: function () {
                                window.location.replace('/points');
                            },
                            error: function () {
                                bootbox.alert("Błąd :( Spóbuj ponownie później");
                            }
                        });
                }
            );
        });
    </script>
}