﻿@model BonusViewModel

@{
    ViewData["Title"] = @Localizer["AddBonus"];
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">@Localizer["AddBonus"]</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <form asp-action="Add" asp-controller="Bonuses" method="post" novalidate="novalidate">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">@Localizer["ExtraPrize"]</label>
                                <input asp-for="ExtraPrize" type="text" class="form-control" aria-required="true" aria-invalid="false">
                            </div>
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">@Localizer["AvailableMapPoints"]</label>
                                @Html.DropDownListFor(m => m.SelectedMapPoint, new SelectList(Model.AvailableMapPoints, "Id", "Name"), new {@class = "form-control"})
                            </div>
                            <div>
                                <button asp-action="Add" asp-controller="Bonuses" type="submit" class="btn btn-lg btn-info btn-block">
                                    <i class="fa fa-plus-circle"></i>&nbsp;
                                    <span id="payment-button-amount">@Localizer["Add"]</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>